---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
  - apiGroups:
      - network.edgefarm.io
    resources:
      - networks
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - network.edgefarm.io
    resources:
      - networks/finalizers
    verbs:
      - update
  - apiGroups:
      - network.edgefarm.io
    resources:
      - networks/status
    verbs:
      - get
      - patch
      - update
  - apiGroups: [""]
    resources:
      - namespaces
      - secrets
    verbs:
      - get
      - list
      - create
      - update
      - delete
      - patch
