- op: add
  path: /rules/0
  value:
    apiGroups:
      - ""
    resources:
      - namespaces
      - secrets
      - configmaps
      - services
      - serviceaccounts
    verbs:
      - get
      - list
      - create
      - update
      - delete
      - patch
      - watch

- op: add
  path: /rules/0
  value:
    apiGroups:
      - "apps"
    resources:
      - daemonsets
      - deployments
    verbs:
      - get
      - list
      - create
      - update
      - delete
      - patch

- op: add
  path: /rules/0
  value:
    apiGroups:
      - "rbac.authorization.k8s.io"
    resources:
      - clusterroles
      - clusterrolebindings
      - roles
    verbs:
      - get
      - list
      - create
      - update
      - delete
      - patch

- op: add
  path: /rules/0
  value:
    apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - list
